<footer class="footer">
  <small>
    The CHIRP app
    by <a href="http://www.buntingfordcomputing.com/">Sam Scott-Hake</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.rubyonrails.org/">News</a></li>
    </ul>
  </nav>
</footer>